@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (ViewBag.FullName != null)
    {
        <p>Hoş geldin, <strong>@ViewBag.FullName</strong></p>
    }
    <p>Toplam Kullanıcı Sayısı: <strong>@ViewBag.UserCount</strong></p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
